services:
  app:
    build: .
    ports:
      - "3000:3000"
      - "5555:5555"
    depends_on:
      - postgres
      - redis
    environment:
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/ride_pool?schema=public
    volumes:
      - .:/app
      - /app/node_modules


  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ride_pool
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"
